html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

.disabled-text {
  color: #bac0cd !important;
}

.el-dialog__wrapper {
  z-index: 2001;
}

.el-dialog__wrapper .v-modal {
  z-index: 2000;
}

.el-dialog__wrapper .el-dialog {
  z-index: 2001;
}

.el-table__header,
.el-table__body,
.el-table__footer {
  width: 100%;
}

.el-table__empty-text {
  width: 100%;
}

.order-detail-items-table {
  .el-table__header-wrapper th {
    background: #f5f7fa;
  }

  .el-table__header-wrapper .cell {
    font-weight: 600;
    color: #606266;
  }

  .el-table__body-wrapper .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.category-table {
  .el-table__header-wrapper .cell,
  .el-table__body-wrapper .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.shop-status-dialog {
  min-width: auto !important;

  .el-dialog__header {
    height: 61px;
    line-height: 60px;
    background: #fbfbfa;
    padding: 0 30px;
    font-size: 16px;
    color: #333;
    border: 0 none;
  }

  .el-dialog__body {
    padding: 10px 30px 30px;

    .el-radio,
    .el-radio__input {
      white-space: normal;
    }

    .el-radio__label {
      padding-left: 5px;
      color: #333;
      font-weight: 700;

      span {
        display: block;
        line-height: 20px;
        padding-top: 12px;
        color: #666;
        font-weight: normal;
      }
    }

    .el-radio__input.is-checked .el-radio__inner::after {
      background: #333;
    }

    .el-radio-group {
      & > .is-checked {
        border: 1px solid #ffc200;
      }
    }

    .el-radio {
      width: 100%;
      display: block;
      background: #fbfbfa;
      border: 1px solid #e5e4e4;
      border-radius: 4px;
      padding: 14px 22px;
      margin-top: 20px;
      margin-right: 0;
    }
  }
}

.navbar {
  .el-icon-arrow-down {
    background: url('@/assets/icons/up.png') no-repeat 50% 50%;
    background-size: contain;
    width: 8px;
    height: 8px;
    transform: rotate(0deg);
    margin-left: 16px;
    position: absolute;
    right: 16px;
    top: 12px;
  }

  .el-icon-arrow-down:before {
    content: '';
  }

  .el-button--primary.active .el-icon-arrow-down {
    transform: rotate(-180deg);
  }

  .el-button--primary.active {
    background: rgba(250, 250, 250, 0);
    border: 0 none;
  }

  .userInfo {
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    width: 100%;
    border-radius: 4px;
    line-height: 32px;
    padding: 0 0 5px;
    height: 105px;

    .userList {
      width: 95%;
      padding-left: 5px;
    }

    p {
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      padding: 0 5px 0 7px;

      i {
        margin-left: 10px;
        vertical-align: middle;
        margin-top: 4px;
        float: right;
      }

      &:hover {
        background: #f6f1e1;
      }
    }
  }

  .amendPwdIcon i {
    width: 18px;
    height: 18px;
    background: url('@/assets/icons/btn_gaimi@2x.png') no-repeat;
    background-size: contain;
  }

  .outLogin i {
    width: 18px;
    height: 18px;
    background: url('@/assets/icons/btn_close@2x.png') no-repeat 100% 100%;
    background-size: contain;
  }

  .pwdCon {
    .el-dialog__body {
      padding-top: 60px;
      padding: 60px 100px 0;
    }

    .el-input__inner {
      padding: 0 12px;
    }

    .el-form-item {
      margin-bottom: 26px;
    }

    .el-form-item__label {
      text-align: left;
    }

    .el-dialog__footer {
      padding-top: 14px;
    }
  }
}
