# idea
**/target/
.idea
*.iml
*.class
*Test.java
**/test/
out/
# Macos
.DS_Store
._*
Thumbs.db


# dependencies
build/
dist/
node_modules/
*.log
*.jar
*.war
*.ear


# dirs
/Users/henrysang/Documents/Sky-Takeout/docs/web-prototype/
/Users/henrysang/Documents/Sky-Takeout/docs/API-doc/
/Users/henrysang/Documents/Sky-Takeout/data
/Users/henrysang/Documents/Sky-Takeout/test/

# 敏感数据配置文件
*/application-dev.yml
docker-compose.yml
.env
*/.env.local

# vibe coding
.trae/
